<div>
  <div id="choice" class="text-center mt-5">
    <h2>Bienvenue dans la famille KOYA </h2>
    <div class="seko-flex container mt-5">
        <button id="ask_senior" class="seko-button btn m-3" >Vous recherchez une aide à domicile ?</button>
        <button id="ask_helper" class="seko-button btn m-3">Vous souhaitez devenir aide à domicile KOYA ?</button>
    </div>
  </div>

  <div class="hidden" id="senior_register">
    <div id="choice_account" class="text-center mt-5">
      <h2>Etes vous le bénéficiaire de la prestation ?</h2>
      <div class="mt-5">
        <button id="senior_account" class="seko-button btn w-25 m-3">Oui</button>
        <button id="family_account" class="seko-button btn w-25 m-3">Non</button>
      </div>
    </div>
    <div class="hidden" id="new_senior">
      <div class="container w-50">
        <%= render partial: "new_senior" %>
      </div>
    </div>
    <div class="hidden" id="new_family">
      <div class="container w-50">
        <%= render partial: "new_family" %>
      </div>
    </div>
  </div>

  <div class="hidden" id="helper_register">
    <div class="container w-50">
      <%= render partial: "helper_form" %>
    </div>
  </div>
</div>
