<div>
  <div id="choice" class="text-center">
    <h2>Bienvenue sur SEKOYA </h2>
        <button id="ask_senior" class="seko-button w-25 m-3" >Vous recherchez une aide à domicile </button>
        <button id="ask_helper" class="seko-button w-25 m-3">Vous souhaitez devenir partenaire de SEKOYA </button>
  </div>

  <div class="hidden" id="senior_register">
    <div id="choice_account" class="text-center">
      <h2>Etes vous le bénéficiaire de la prestation ?</h2>
        <button id="senior_account" class="seko-button w-25 m-3">Oui</button>
        <button id="family_account" class="seko-button w-25 m-3">Non</button>
    </div>
    <div class="hidden" id="new_senior">
      <div class="container w-50">
        <%= render partial: "new_senior" %>
      </div>
    </div>
    <div class="hidden" id="new_family">
      <div class="container w-50">
        <%= render partial: "new_family" %>
      </div>
    </div>
  </div>

  <div class="hidden" id="helper_register">
    <div class="container w-50">
    </div>
  </div>
</div>
