.category-choice {
  background: #2082D1;
  padding-top: 10px;
  width: 300px;
  opacity: .4;
  text-align: center;
  box-shadow: 2px 2px 3px 3px rgba(0, 150, 199, 0.3) inset;
  border-radius: 14px;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  &.active {
  opacity: 1;
  }
}

label {
  color: white;
}
