// Specific CSS for your home-page
.search-button {
  width: 100%;
}

.slogans {
  margin-bottom: 70px;
  margin-top: 100px;
  margin-left: 100px;
}

.bloc-home {

}

.home-men {
  margin-top: 200px;
  display: flex;
}

.standing-men {
  margin-top: 100px;
  margin-right: 13vw;
  // margin-right: 200px;
}

.welcome {
  margin-bottom: 100px;
}

.blob{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 50vw;
    margin-left: 39vw;
    height: 115vh;
}

.blob2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 50vw;
    margin-left: 52vw;
    height: 115vh;
}

.blob3{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 50vw;
    margin-left: 26vw;
    height: 115vh;
}
