.show-flex {
  display: flex;
  justify-content: space-around;
}

.date-block {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.btn-show {
  width: 310px;
}

.hour-block {
  display: flex;
  justify-content: space-between;
}

.show-profil-card {
  height: 100%;
}

.top-show {
  display: flex;
}
