<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 text-center">

        <h3>Comment  peut il vous aider ? </h3>
        <h4> Vous pouvez choisir jusqu'à X activités </h4>

        <div class="d-flex flex-wrap justify-content-center pt-4">
          <div class="compagnie d-flex justify-content">
            <p> Compagnie </p>
            <div class="clickable">
            <!--   <i class="fas fa-futbol"></i> -->
              <small>Promenade</small>
            </div>
            <div class="clickable">
            <!--   <i class="fas fa-volleyball-ball"></i> -->
              <small>Loisirs</small>
            </div>
            <div class="clickable">
             <!--  <i class="fas fa-basketball-ball"></i> -->
              <small>Activités (intellectuelles ou sportives)</small>
            </div>
          </div>
          <div class="aide d-flex justify-content">
            <p> Aide </p>
            <div class="clickable">
           <!--    <i class="fas fa-baseball-ball"></i> -->
              <small>Se lever / Se coucher</small>
            </div>
            <div class="clickable">
              <!-- <i class="fas fa-table-tennis"></i> -->
              <small>Se laver </small>
            </div>
            <div class="clickable">
             <!--  <i class="fas fa-hiking"></i> -->
              <small>Ménage</small>
            </div>
          </div>
          <div class="accompagnement d-flex justify-content">
            <p> Accompagnement </p>
            <div class="clickable">
           <!--    <i class="fas fa-baseball-ball"></i> -->
              <small>Accompagnement à un rendez vous médical</small>
            </div>
            <div class="clickable">
              <!-- <i class="fas fa-table-tennis"></i> -->
              <small>Prise de Médicaments  </small>
            </div>
            <div class="clickable">
             <!--  <i class="fas fa-hiking"></i> -->
              <small>Gestion d’une pathologie ou d’un handicap</small>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

