
<% if booking.status == "pending" %>
    <p style='color: orange;'>en attente</p>
<% elsif booking.status == "accepté" %>
    <p style='color: green;'><%= "accepté" %></p>
<% else %>
    <p style='color: red;'><%= booking.status %></p>
<% end %>
