
<% if booking.status == "pending" %>
    <span style='color: orange;'>en attente</span>
<% elsif booking.status == "accepté" %>
    <span style='color: green;'><%= "accepté" %></span>
<% else %>
    <span style='color: red;'><%= booking.status %></span>
<% end %>
