<div class="container">
  <div class="home-banner">
    <div class="slogans">
      <h1>Bienvenue chez Sekoya</h1>
      <h2>Notre super site d'aide à domicile</h2>
    </div>
    <div class="card">
      <div class="bloc-search">
        <form action="/profiles" method="get">
          <input class="form-control" name="address_input" type="text" placeholder="Trouvez des aidants autour de vous" aria-label="Search" required>
          <input type="submit" value="Chercher" class="search-button">
        </form>
      </div>
    </div>
  </div>
  <div class="home-content-argument">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="hiring-info">
    <div></div>
    <div></div>
  </div>
</div>
