<% week_day = "Dimanche #{day.to_date.day}" if day.to_date.wday == 0 %>
<% week_day = "Lundi #{day.to_date.day}" if day.to_date.wday == 1 %>
<% week_day = "Mardi #{day.to_date.day}" if day.to_date.wday == 2 %>
<% week_day = "Mercredi #{day.to_date.day}" if day.to_date.wday == 3 %>
<% week_day = "Jeudi #{day.to_date.day}" if day.to_date.wday == 4 %>
<% week_day = "Vendredi #{day.to_date.day}" if day.to_date.wday == 5 %>
<% week_day = "Samedi #{day.to_date.day}" if day.to_date.wday == 6 %>
<% month = " Janvier" if day.to_date.month == 1 %>
<% month = " Fevrier" if day.to_date.month == 2 %>
<% month = " Mars" if day.to_date.month == 3 %>
<% month = " Avril" if day.to_date.month == 4 %>
<% month = " Mai" if day.to_date.month == 5 %>
<% month = " Juin" if day.to_date.month == 6 %>
<% month = " Juillet" if day.to_date.month == 7 %>
<% month = " Aout" if day.to_date.month == 8 %>
<% month = " Septembre" if day.to_date.month == 9 %>
<% month = " Octobre" if day.to_date.month == 10 %>
<% month = " Novembre" if day.to_date.month == 11 %>
<% month = " Decembre" if day.to_date.month == 12 %>
<p><%= week_day + month %></p>