<% (7..20).each do |h|%>
    <% if free_list.include?(h) %>
        <p><%= "#{h}h à #{h+1}h" %></p>
    <% elsif busy_list != [] %>
        <% this_booking = nil %>
        <% busy_list.each{|booking| this_booking = booking if (booking[0]...booking[1]).include?(h)} %>
        <% if this_booking.nil? %>
            <p> ----- </p>
        <% else %>
            <% if this_booking[0] == h && this_booking[1] - this_booking[0] == 1 %>
                <p><%= "xxx de #{this_booking[0]}h à #{this_booking[1]}h" %></p>
            <% elsif this_booking[0] == h %>
                <p><%= "xxxxxxx de #{this_booking[0]}h" %></p>
            <% elsif this_booking[1] - 1 == h %>
                <p><%= "xxxxxxx à #{this_booking[1]}h" %></p>
            <% else %>
                <p> xxxxxxxxxxx </p>
            <% end %>
        <% end %>
    <% else %>
        <p> ----- </p>
    <% end %>
<% end %>