<div class="d-flex p-2 flex-wrap">
  <%= render :partial => "hours_shown", locals: {min: min, max: max}%>
  <% calendrier.each do |key2|%>
    <div class="mw-30 p-3">
      <%= render :partial => "date_format", locals: { day: key2 } %>
      <% if disponibility[key2].nil? %>
        <%= render :partial => "day_column_empty", locals: {min: min, max: max} %>
      <% else %>
        <% free_list = disponibility[key2]["free"] %>
        <% if disponibility[key2]["busy"].nil? %>
          <% busy_list = [] %>
        <% else %>
          <% busy_list = disponibility[key2]["busy"].map{|h| h= [h[0], h[0]+h[1]]} %>
        <% end %>
        <%= render :partial => "day_column",
        locals: { free_list: free_list, busy_list: busy_list, min: min, max: max } %>
      <% end  %>
    </div>
  <% end %>
</div>