.seko-button {
  background: linear-gradient(270deg, #42A5F5 0%, #97D5DF 100%);
  box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
  border-radius: 16px;
  height: 40px;
  color: white;
  width: 90%;
  text-align:center;
}

.seko-button:hover {
  background: linear-gradient(270deg, #42A5F5 0%, #97D5DF 100%);
  box-shadow: 0px 15px 30px rgba(0, 150, 199, 0.3);
  border-radius: 16px;
  height: 40px;
  color: white;
  width: 90%;
  text-align:center;
}

.seko-search-bar {
  background: white;
  border-radius: 14px;
}

.seko-card-details {
  background: white;
  border-radius: 14px;
  box-shadow: 0px 15px 30px rgba(0, 150, 199, 0.1);
}

.seko-card {
  background: white;
  border-radius: 14px;
  box-shadow: 0px 15px 30px rgba(0, 150, 199, 0.1);
}

.seko-card:hover {
  background: white;
  border-radius: 14px;
  box-shadow: 0px 15px 30px rgba(0, 150, 199, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.seko-card-best {
  background: white;
  border: 2px solid rgba(1, 129, 3, 0.2);
  border-radius: 14px;
  box-shadow: 0px 15px 30px rgba(0, 150, 199, 0.1);
}

.seko-card-best:hover {
  background: white;
  border-radius: 14px;
  box-shadow: 0px 15px 30px rgba(1, 129, 3, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.seko-card-best-note {
  background: white;
  border: 2px solid rgba(30, 128, 252, 0.2);
  border-radius: 14px;
  box-shadow: 0px 15px 30px rgba(0, 150, 199, 0.1);
}

.seko-card-best-note:hover {
  background: white;
  border-radius: 14px;
  box-shadow: 0px 15px 30px rgba(30, 128, 252, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.seko-card-helper-list {
  margin-top: 15px;
}

.seko-in-card {
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.2) inset;
  padding: 25px;
  border-radius: 14px;
}

.seko-flex {
  display: flex;
  justify-content: space-between;
}

 body {
  background-color: #FAFAFA;
}

p, li {
  color: #4E4957;
}

.other-task {
  color: #4E4957;
}

h4 {
  color: #1F82D1;
}

h3 {
  color: #1F82D1;
}

.fa-star {
  color: #FFD700;
}

.w-49 {
  width: 49%;
}

.w-70 {
  width: 70%;
}

.pl-20 {
  padding-left: 20px;
}

.mb-0 {
  margin-bottom: 0;
}

.mtop-5 {
  margin-top: 3px;
}

.seko-part-card {
  width: 260px;
  height: 20vh;
}

.seko-part-card-price {
  width: 165px;
  height: 20vh;
}

.seko-part-card-helper {
  width: 280px;
  height: 20vh;
}

.seko-cancel-button {
  background: linear-gradient(270deg, #9E3B1C 0%, #F35252 100%);
  box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
  border-radius: 16px;
  height: 40px;
  color: white;
  width: 90%;
  text-align:center;
}

.seko-cancel-button:hover {
  background: linear-gradient(270deg, #9E3B1C 0%, #F35252 100%);
  box-shadow: 0px 15px 30px rgba(243, 39, 39, 0.3);
  border-radius: 16px;
  height: 40px;
  color: white;
  width: 90%;
  text-align:center;
}

.seko-small-button {
    background: linear-gradient(270deg, #FF9C7D 0%, #FF8686 100%);
    box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
    border-radius: 50px;
    color: white;
    width: 50px;
    height: 50px;
    padding: 15px;
    text-align:center;
}

.seko-small-button:hover {
  background: linear-gradient(270deg, #FF9C7D 0%, #FF8686 100%);
  box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
  border-radius: 50px;
  color: red;
  width: 50px;
  height: 50px;
  padding: 15px;
  text-align:center;
}

.dashboard-nav-btn {
  color: #42a5f5;
  opacity: 0.4;
  flex: 0 0 30%;
  text-align: center;
  border-radius: 14px;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  &.active {
  color: #42a5f5;
  opacity: 1;
  }
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.remove-favoris {
 position: absolute;
 top: -25px;
 right: -10px;
}

.seko-under-seven-btn {
  background: linear-gradient(270deg, #D0D0D0 0%, #C6C6C6 100%);;
  box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
  border-radius: 16px;
  height: 60px;
  color: white;
  width: 90%;
  text-align:center;
}

.seko-under-seven-btn:hover {
  background: linear-gradient(270deg, #D0D0D0 0%, #C6C6C6 100%);;
  border-radius: 16px;
  height: 60px;
  color: white;
  width: 90%;
  text-align:center;
}
